@charset "utf-8";
/* NHN Web Standard 2Team MJA 111025 */
/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}

body, input, textarea, select, button, table {
    font-size: 14px;
    line-height: 1.25em
}

body {
    position: relative;
    -webkit-text-size-adjust: none
}

img, fieldset {
    border: 0
}

ul, ol {
    list-style: none
}

em, address {
    font-style: normal
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse
}

.blind, #u_skip {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    left: -999em;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0
}

/* //Common */

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    width: 100%;
    height: 50px;
    background-color: pink;
}

#container {
    background-color: honeydew;
    margin: 0 auto;
    position: relative;
    width: 100%;
    flex: 1;
}

#footer {
    background-color: darkseagreen;
    width: 100%;
    height: 50px;
}